<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery Store Inventory</title>
    <link rel="stylesheet" href='/stylesheets/style.css' type="text/css"/>
</head>
<body>
   
    <div class="side"> 
    <ul class='sidebar-nav'> 
    <li> <a href='/catalog'> Home   </a></li>
    <li> <a href='/catalog/foods'> All Foods </a></li>
    <li> <a href='/catalog/foodtypes'> Food Groups </a></li>
 
    
    <div class="sidebar-add"> 
    <li> <a href='/catalog/food/create'>  Add new Food </a> </li>
    <li> <a href='/catalog/foodtype/create'> Add new Food Group </a></li>
    </div>
    </ul>
    </div>

</body>
</html>